#H a{
    margin-right: 20px;
    margin-top: 20px;
    color: hsl(68, 73%, 75%);
    font-size: 23px;;
    align-items: center;
}
#A a{
    margin-right: 20px;
    margin-top: 20px;
    color: hsl(68, 73%, 75%);
    font-size: 23px;;
    align-items: center;
}
#M a{
    margin-right: 20px;
    margin-top: 20px;
    color: hsl(68, 73%, 75%);
    font-size: 23px;;
    align-items: center;
}
#E a{
    margin-right: 20px;
    margin-top: 20px;
    color: hsl(68, 73%, 75%);
    font-size: 23px;;
    align-items: center;
}